[2020-11-04 00:33] magicspon opened #2 "support: option_selections in useAddItem"
https://developer.bigcommerce.com/api-reference/store-management/carts/cart-items/addcartlineitem

At the moment you can only use productId, quantity and variantId.

Would it be possible to enable option_selections?

Thanks

[2020-11-11 00:23] ChrisDalley opened #5 "Change from exported type alias' to exported interfaces in schema.d.ts"
(Firstly and quickly want to say thanks for releasing this library - its really helpful in getting started with BC).

I am encountering some Typescript definition issues when using custom Storefront API queries and adding custom fields/using custom queries.

For example I would like to add a new Image size to my product called `galleryImage` so I add that to my custom api query and pass it to `get

[2020-11-11 02:42] ChrisDalley commented on #5
So I feel like an idiot as I actually think the second option of passing a generic is enabled here... going to close this!

[2020-11-11 02:42] #5 closed

[2020-11-13 03:46] dallen4 opened #6 "Feature Submission: EmbeddedCheckout component"
## Problem

I was really wanting to try out embedding the checkout flow into my own webpage as opposed to using rewrites as seen in the [example here](https://github.com/vercel/commerce/blob/master/next.config.js).

## Process

After reviewing the documentation and familiarizing myself with the Store REST API, I implemented my own [Next.js API endpoint](https://gist.github.com/dallen4/3b9df45e8e0d

[2020-11-13 11:19] emilkowalski opened #7 "Related products"
Is there a way to get related products with the getAllProducts hook?

[2020-11-16 03:00] ronanmorris commented on #2
+1

[2020-11-19 22:51] kfroemming opened #9 "Feature Request: getProducts hook that allows you to send multiple entity ID's"
Hey team, love what you guys are doing. I would like to submit a feature request that would allow for a developer to query a list of products. If you do not have the time, any guidance on making this addition myself would be helpful. I will post my code below and the questions I have associated with it.

[code]

I see where the query is being built, but am unsure how to use it on the client of the

[2020-11-19 23:23] kfroemming commented on #6
Bump

[2020-11-19 23:49] duhduhdan opened #10 "Request: Support `categories:in`"
It would be nice if GraphQL endpoint supported `categories:in` like the REST API does. I would expect to be able to do something like the following with this feature (ignoring your existing `edges` and `nodes` structure):

[code]
or, more reflective of the existing structure
[code]

With this we could have a more robust `useSearch` hook that allows you to pass in multiple `categoryId` for advanced

[2020-11-19 23:50] kfroemming commented on #10
This would be awesome.

[2020-12-01 10:46] rodeyseijkens opened #11 "Question/Request Login through SSO"
We are looking into using these hooks, but we have our own login system.
How will this work in combination with the SSO?

[2020-12-02 13:18] ronanmorris opened #12 "Request: Support "option_selections" when adding item to cart"

[2020-12-02 16:08] magicspon commented on #12
duplicate https://github.com/bigcommerce/storefront-data-hooks/issues/2

[2020-12-03 14:05] RayeEThompson opened #13 "Sign Up and Login Data Hooks return Error but user is created and/or active in BigCommerce"
Reproduction Steps:

1. Using the Next.js Commerce application, navigate to the customer login section. Sign Up to create a customer.
2. You will be returned an error.
3. Navigate to BigCommerce Store Control Panel - Customer was created and is active.
4. Navigate back to Next.js Commerce application, and attempt to log in said customer, it will fail sometimes.
5. Graphql works fine from playgroun

[2020-12-04 16:03] MatixYo opened #14 "Missing Reset password hook"
Currently there's no way to reset password using these hooks.

[2020-12-06 22:32] keaglin commented on #13
I've run into this issue. So I have one created user account in the BC BE that can't login to the Next Commerce app.

[2020-12-07 15:01] derardeek commented on #13
Getting the same issue,

[2020-12-09 13:09] magicspon commented on #12
@ronanmorris I've created a PR for this

[2020-12-09 21:48] AndreiBuh commented on #13
I have the same issue with sign up hook.

[2020-12-10 19:00] holotus commented on #13
Any work around at the moment?

[2020-12-10 23:56] magicspon commented on #13
I'm also seeing this

[2020-12-12 13:12] AndreiBuh commented on #13
any workaround. i still get the same problem with getting that error on sign up.

[2020-12-14 08:55] dy-byron commented on #13
I had the store status on "Down for maintenance". So changing it to "Open" solved the problem.

[2020-12-14 18:54] #2 closed

[2020-12-15 02:48] Nick-Achee commented on #13
Ive been trying to fix this all day as well. not sure what to do

[2020-12-15 22:40] magicspon commented on #13
I've noticed that the graphql endpoint generated via the vercel integration is incorrect.
I was getting errors when using a url like:

"https://store-60csalghrft-163774.mybigcommerce.com/graphql"

Switched to the "live domain" -> "https://mystore.mybigcommerce.com/graphql"
now login/reg is functioning.

[2020-12-17 15:30] ricokahler opened #17 "Confused which package to install"
[The current readme](https://github.com/bigcommerce/storefront-data-hooks/tree/93505ddeec9a7096c38cad247b8f3e966ed5276f) says to install `storefront-data-hooks` but all the packages are importing `@bigcommerce/storefront-data-hooks`.

Both packages are published to npm. Which one should I use?

[2020-12-17 21:31] RayeEThompson commented on #13
@magicspon: This would be a work-around correct, because you would prefer it to work locally and on dev environments?

[2020-12-17 21:32] RayeEThompson commented on #13
I've noticed that the graphql endpoint generated via the vercel integration is incorrect.
I was getting errors when using a url like:

"https://store-60csalghrft-163774.mybigcommerce.com/graphql"

Switched to the "live domain" -> "https://mystore.mybigcommerce.com/graphql"
now login/reg is functioning.

[2020-12-18 12:12] Strapazzon commented on #13
For me, it was just the configuration of the store. `Down for Maintenance`

![image](https://user-images.githubusercontent.com/4943868/102613232-0a2bb300-412a-11eb-926d-595dd82be4bf.png)

[2020-12-18 12:15] Strapazzon commented on #13
For me, it was just the configuration of the store. `Down for Maintenance`
![image](https://user-images.githubusercontent.com/4943868/102613627-b8375d00-412a-11eb-87d0-e8a78f3b84a7.png)

[2020-12-18 16:00] pgvercel commented on #13
Where did you switched that? in Vercel environment variables?

[2020-12-18 16:14] pgvercel commented on #13
I still get that errors when sign up on dev environment and after deploy on Vercel. How can i resolve it?

[2020-12-19 14:05] AndreiBuh commented on #13
Is anyone here that has the Sign Up / Login / Logout for BigCommerce + Nextjs starter template, working without errors?

[2020-12-20 03:07] derardeek commented on #13
It seems that it does generate the wrong domain and we do need to get it live so we can actually run it, however the tokens no longer work

https://github.com/vercel/commerce/issues/122

[2020-12-20 05:51] Nick-Achee commented on #13
yeah the tokens for login no longer work for me either.

On Sat, Dec 19, 2020 at 7:08 PM derardeek <notifications@github.com> wrote:

--
Waving [image: 👋]🏻 from Laguna,

Nick Achee | Digital Marketer
web: www.nickachee.com
cell: 949.320.3818

[2020-12-21 16:43] magicspon commented on #14
I can't see anything in the bigcommerce api docs about resetting passwords... any pointers?

[2020-12-22 19:16] Nick-Achee commented on #13
Ok so I've found the solution!

If you are still having problems
With the graphQL env variables

Try switching out the

STOREFRONT_URL=

to be consistent with the name of your storefront

https://storefront.bigcommerce.com/graphQL

Like mentioned above by @RayeEThompson

After doing so the next env you are looking for is the STOREFRONT_TOKEN

to find this go into the "advance settings" then click

[2020-12-22 20:15] pgvercel commented on #13
Thanks, @Nick-Achee. Seems to be working fine now, without errors. But when you sign up, the customer seems to be returned null, using the useCustomer() hook from @bigcommerce/storefront-data-hooks/use-customer.

[2020-12-22 20:22] Nick-Achee commented on #13
@pgvercel this seems to only be the case when developing locally.

Be sure to update the environment variable in the settings tab on the vercel dashboard for the site you are working with then redeploy.

It will work properly on the "live"
version...

Example "https://mystore.vercel.app"

Im sure the BC engineers are working on fixing this part of the developer experience but this is the work arou

[2020-12-22 22:43] derardeek commented on #13
@Nick-Achee  and @pgvercel I can confirm this works both locally and production for now,

@RayeEThompson Should this work around be part of the vercel commerce Readme?

[2020-12-23 05:40] thebakerdev opened #18 "Getting error ./node_modules/@zeit/dns-cached-resolve/lib/dns-resolve.js:6:0"
I'm trying to use this package in my nextjs project. When importing `import { getConfig } from '@bigcommerce/storefront-data-hooks/api'` I'm getting a `Module not found: Can't resolve 'dns'`.

Is there any dependency that I need to install?

Here's my package.json
`
 "dependencies": {
    "@bigcommerce/storefront-data-hooks": "^1.0.2",
    "@contentful/rich-text-react-renderer": "14.1.1",
    "@sp

[2020-12-26 17:39] mountiny commented on #13
@Nick-Achee God bless you! Saved a lot of time. It works on production Vercel, but it still return null as a customer on localhost, so it is unusable. Any tips for that? I have changed the env variables as suggested and I have also switched the advanced settings of Bigcommerce storefront to Open. Thank you!

[2020-12-26 18:26] Nick-Achee commented on #13
Also another update!

The **API PATH:** that is generated on the txt file when creating a new API generates like so ..

Exp: "**API PATH:** https://api.bigcommerce.com/stores/{{store_id}}/v3/"

..but I've been removing the " /v3 off the end of url because when "compiling" it adds /v3 to the end of the URL... hope that helps also.

[2020-12-26 18:35] Nick-Achee commented on #13
You can still make all your front end Tailwind changes locally. Then when you push your code out it will update said style changes and the customer login webhooks should work work live.

It is definitely still somewhat buggy and the graphQL Storefront Bearer token changes like every 2 days so I am constantly monitoring it and switching out the new token.

Vercel will statically serve the site too

[2020-12-29 04:22] Nick-Achee commented on #13
I spoke too soon.. the "carts" hook isnt working properly.

[2020-12-29 10:09] mountiny commented on #13
@Nick-Achee Yes, also noticed it and wasnt sure what is it. Out of a sudden the cart hooks returns 500 in my Next.js/commerce app. Any workarounds?

[2021-01-03 14:02] mountiny commented on #13
@Nick-Achee Update from my side. From their storefront api documentation (https://developer.bigcommerce.com/api-reference/store-management/tokens) I have created new token using Postman and set the expires_at attribute to 2030 and so far, the token has been valid for 3 days and my cart or any other BigCommerce related function did not stop to work.

To get the token, create POST request to https:/

[2021-01-03 18:01] Bryceacampbell opened #19 "Get custom product fields"
Hello Team,

It seems products are NOT returning custom product fields set in big commerce. Any ideas how to accomplish this? I would like to display these on our dynamic products page

[2021-01-04 19:49] stevejhiggs opened #20 "release 1.0.3 not released on npm"
The latest release is 1.0.3 and contains a fix I need. Unfortunately the latest version on npm is 1.0.2. Is the release process for new packages documented?

[2021-01-05 06:51] pgvercel commented on #13
Hi. Using BigCommerce checkout solution, is there a way to keep the logged in user saved so that we don't need to login again in order to proceed to final steps?

[2021-01-05 22:53] pgvercel commented on #13
@Nick-Achee The SignUp/Login isn't working anymore on live Vercel. It was working one week ago, and now it returns the same errors. Do you know something about that?

[2021-01-05 22:59] pgvercel commented on #13
@Nick-Achee Do you know if there is a data-hook for fetching orders available?

[2021-01-06 15:18] AndreiBuh commented on #13
Has anyone fetched the orders history? there is not a storefront hook for that.

[2021-01-06 15:36] Nick-Achee commented on #13
I have tried and noticed that it doesn’t work either 🤷‍♂️

[2021-01-07 12:01] zeekrey commented on #19
The `getProduct` method allows you to use a custom GraphQL query if assigned to the `query` key like so:

[code]

As the [BigCommerce GraphQL expolorer](https://developer.bigcommerce.com/graphql-explorer) shows, the product field has a customFields field. With it you should be able to get your custom fields. Couldn't try it yet though.

[2021-01-07 13:54] avisra commented on #11
I'm in the same boat. These hooks appear to assume you are BC for login. Hopefully someone from the team responds to this one soon!

[2021-01-08 09:17] ricokahler opened #21 "How do I add a product that doesn't have variants?"
Looking at the typescript types for `useAddItem`, it doesn't seem like there is a way to add items to the cart that don't have a variant.

How do I do this?

[2021-01-08 18:29] amckemie commented on #21
@jivewise Can you help provide some insight on this question? Thanks!

[2021-01-08 20:37] stevejhiggs commented on #20
Rendered somewhat irrelevant by https://github.com/vercel/commerce/pull/140

[2021-01-08 20:37] #20 closed

[2021-01-11 06:22] ricokahler opened #22 "500 on updateItem when productId and variantId are missing"
[From the README](https://github.com/bigcommerce/storefront-data-hooks/tree/f1be99f00f68c8c23e17e5ac0d7f1fa0e4ad4f8d#useupdateitem), it seems like `updateItme` does not require the `productId` or the `variantId` when updating the quantity however I can't get this to work unless I include those.

[code]

Is this a bug?

[2021-01-11 07:21] ricokahler opened #23 "[Featured Request] Add error codes"
Hey all,

I'd love it if the APIs could return more specific error codes and messages so that we could present our customers with more specific error messages.

In particular, this would be great for the cart API. My particular use case is when a product goes out of stock or is no longer available. We'd like to show a more specific error message that different from potential 500 errors.

[2021-01-12 01:55] andrewf414 opened #24 "useLogin error fetcherRef is undefined"
Hi,

I have installed the package from npm, and am importing the useLogin hook but every time I use it, I get the error that fetcherRef is undefined. I can get the demo app running with my store fine, but I can't work out what the difference between the two is. Aside from the fact that the demo app has the framework just as folders within it, rather than a module imported from npm. It makes it a l

[2021-01-13 19:49] ricokahler opened #25 "[Featured Request] My Account / Orders"
Was looking at the Vercel demo store and noticed the my account / orders page is [hardcoded](https://github.com/vercel/commerce/blob/742ac5786e64b89c0e34dd3dca3fe0245f249b55/pages/orders.tsx#L28).

This is a feature request to add my account hooks.

[2021-01-14 00:21] #24 closed

[2021-01-14 00:22] andrewf414 commented on #24
Just took much further digging into the code..

[2021-01-14 03:31] jivewise commented on #21
@ricokahler I believe the `ItemBody` declaration will need to be updated here: https://github.com/bigcommerce/storefront-data-hooks/blob/master/src/api/cart/index.ts#L17 to be optional.

I will work with @amckemie to make a PR for that soon, or you can feel free to do so if you have the time!

[2021-01-15 17:59] amckemie commented on #11
Hi all, @rodeyseijkens & @avisra can you give more detail please around what the problem is that you are running into / what the specific need is that you have around the SSO? It sounds like you are looking to abstract the SSO from data-hooks so that you can include your own login, but I don't want to make assumptions. Thanks!

[2021-01-18 14:26] magicspon opened #26 "useLogout(): doesn't log users out"
Heyo...

the useLogout hook, as the title suggests, does not log users out.

The `SHOP_TOKEN` token is not removed, and thus the user remains logged in.

[2021-01-18 14:29] magicspon commented on #26
user error!

[2021-01-18 14:29] #26 closed

[2021-01-19 03:01] avisra commented on #11
@amckemie Sure thing. My assumption is that these hooks reference the current customer via the useCustomer hook - which I believe is set via the login process (which logs in a user to a BC customer account). I have my own identity provider and auth server that I'd like to use for logging into the app (planning on using NextAuth) - but I still want to set the customer behind the scenes so the cart/

[2021-01-21 18:20] magicspon commented on #11
Any progress on this?

I am hitting the SSO endpoint to create a sign the users into the bigcommerce system, so that when they click on the checkout link, they are still logged in... however, if they then click edit cart, the login session is lost, forcing the user to log back in again

[2021-01-25 04:28] keaglin commented on #13
Still no fix?

[2021-02-05 14:05] jorgemasta commented on #7
Hey @emilkowalski , you can use a custom GraphQL query to get the related products.

[code]

Here an example of the query could looks like: https://gist.github.com/jorgemasta/fc5b29c59bd66d26ce3d28c1b71130b3

[2021-02-05 14:06] #7 closed

[2021-02-05 18:28] eclipse3161 opened #27 "add videos and/or condition to GraphQL"
Hi

We Building our Headless solution for our site fusionelectronix.com using vercel. we are facing an issue with GraphQL not have ability to query product data  specifically Product condition and Product video, it will great if this Enhancement to GraphQL Explorer
Thank you

[2021-02-08 12:58] jorgemasta commented on #9
Hey @kfroemming, I like the idea of allowing to send an array of categories instead of a single one 👍

About using it on the client, I think it is a different issue. Feel free to open a new one if you see the need.

[2021-02-08 14:15] jorgemasta commented on #12
It has been solved in #15

[2021-02-08 14:15] #12 closed

[2021-02-08 14:41] jorgemasta commented on #17
The correct one is @bigcommerce/storefront-data-hooks.

[2021-02-08 14:46] #17 closed

[2021-02-08 14:49] jorgemasta commented on #18
Hey @thebakerdev, are you still having this issue?
If so, can you share which version of `npm`,  `yarn` and `node` you are using?

[2021-02-08 14:52] jorgemasta commented on #19
Hey @Bryceacampbell.  I agree with @zeekrey , if you want other data you can use your own query. Let me know if you need help generating it.

Related to #7

[2021-02-08 14:52] #19 closed

[2021-02-08 15:02] jorgemasta commented on #21
The `variantId` should be optional.

[2021-02-08 15:07] jorgemasta commented on #22
Yes, there is a bug here: https://github.com/bigcommerce/storefront-data-hooks/blob/034be1e4c7fa363f4b1362fd1a6d50e25b2632ea/src/cart/use-update-item.tsx#L54

I will fix it today! Thanks for reporting it.

[2021-02-10 16:27] magicspon opened #30 "Hooks doesn't return the correct locale"
next config:
[code]

locale = 'fr'
[code]

later on

[code]

data.locale === "en"

[2021-02-11 07:24] hghodasara opened #31 "Can't install v1.0.3 vie npm pkg manager"
I see on GitHub there v 1.0.3 is the latest released but when I try to install this version from npm
using - `npm install @bigcommerce/storefront-data-hooks@1.0.3 --save` it not found

The issue is  SHOP_TOKEN cookie is not worked on v1.0.2 pkg,

@amckemie can you please check this

[2021-02-16 02:03] avisra commented on #11
Does anyone have a good workaround for this in the meantime?

[2021-02-17 11:20] jorgemasta commented on #11
I am working on it, probably today I will be able to create a PR!
We expect to have it published next week.

[2021-02-17 11:28] jorgemasta commented on #27
Hey @eclipse3161,
GraphQL's team has reported that these items are not on the roadmap currently, but they have created requests for this and are going to work on prioritizing it appropriately.

I am closing this ticket as it is not something that depends on this repo.

[2021-02-17 11:28] #27 closed

[2021-02-17 11:29] jorgemasta commented on #10
Hey @duhduhdan,
GraphQL's team has reported that this isn't on the roadmap currently, but they have created requests for this and are going to work on prioritizing it appropriately.

I am closing this ticket as it isn't something that depends on this repo.

[2021-02-17 11:29] #10 closed

[2021-02-18 02:34] avisra commented on #11
This is definitely a step in the right direction. Is it possible though to retrieve this shop-token completely server-side? My understanding is their Customer Login SSO actually requires a redirection to their token endpoint b(from the customer's browser).

This is an example flow I would expect:

1. Customer comes to my NextJS site and uses NextAuth.JS to login via our auth providers. Our databas

[2021-02-18 11:15] magicspon commented on #11
Does this solve the issue where a user logins in (with sso), navigates to the checkout page, then hits edit cart and is sent back to the site in a logged out state?

[2021-02-18 13:22] jorgemasta commented on #11
Yes, the Custom Login SSO requires a redirect but you can do it in the server as well:
1. Generate the Login SSO URL
2. Fetch that URL (with `redirect: "manual") in the server to obtain the tokens
3. Find and return the `SHOP_TOKEN`

[Example](https://gist.github.com/jorgemasta/c709b63501344970026f3a3e7646cc77#file-sso-login-ts-L40-L42)

The benefit of using the `useLogin` is that it forces to rev

[2021-02-18 13:25] jorgemasta commented on #11
Yes, it should. In the end, login (with or without sso) means that we store the SHOP_TOKEN cookie. Do you have any examples you can show of the problem you have?

[2021-02-18 14:16] magicspon commented on #11
example here:

https://oomphmade.com/pricing/cards

user adds item to cart
logins in
goes to checkout
presses edit cart (on bc)
goes back to cart, the user is now logged out of the next frontend

[2021-02-18 14:34] magicspon commented on #11
@avisra

Can I ask how you've achieved this?

[2021-02-18 15:52] jorgemasta commented on #11
This is probably because the checkout page is not part of your Next App, you are redirected to your "main" store. From https://oomphmade.com/cart to https://oomph-made.mybigcommerce.com/checkout.

[2021-02-18 17:10] magicspon commented on #11
This is true... However, the login session is usually saved. if i login, then close the browser, then reopen, I am still logged in.
has there been any progress on supporting the embedded checkout?

I had a play with the method:
https://github.com/bigcommerce/storefront-data-hooks/issues/6

But was always getting an error saying the cart is empty, even though i had stuff in my cart.

[2021-02-22 13:26] avisra commented on #18
I just experienced this issue as well. I tried both with npm (6.14.9) and yarn (1.22.10). node (14.15.3)

[2021-02-22 18:16] avisra commented on #11
Yes I believe this makes sense. I have the code setup on my side - and have been able to set the SHOP_TOKEN cookie on my NextAuth callback. But how can I revalidate the useCustomer hook like you mention in the first option?

[2021-02-23 12:02] jorgemasta commented on #11
Cool, how did you manage to set the SHOP_TOKEN cookie? Is similar to [this gist](https://gist.github.com/jorgemasta/c709b63501344970026f3a3e7646cc77#file-sso-login-ts)?

To revalidate the `useCustomer` you have to call the `revalidate` method. E.g:
https://github.com/bigcommerce/storefront-data-hooks/blob/034be1e4c7fa363f4b1362fd1a6d50e25b2632ea/src/use-login.tsx#L36-L42
This will force the custom

[2021-02-23 12:24] jorgemasta commented on #18
Can you show me the output of `yarn list --pattern @vercel/fetch`? It seems that this dependency is not installed

[2021-02-23 16:11] avisra opened #34 "Is it possible to use Persistent Carts via the data hooks?"
https://support.bigcommerce.com/s/article/Persistent-Cart

For example, as a user - if I login and add items to my cart on my computer. And then later login on my phone - I would expect to see the same items in my cart over there.

[2021-02-24 05:39] avisra commented on #11
Awesome. Thanks a bunch for this. I have the SHOP_TOKEN being retrieved and added on login via NextAuth. And revalidating the customer using revalidate() is showing the customer information coming back properly, which is awesome. However, I noticed two issues that I may need assistance with:

1. After logging in (and revalidating the customer) - going to checkout (redirects to bigcommerce checkout

[2021-02-24 09:07] magicspon commented on #11
I am seeing the same as @avisra

[2021-02-24 12:18] jorgemasta commented on #22
It will be included in the next release

[2021-02-24 12:18] #22 closed

[2021-02-24 12:20] jorgemasta opened #36 "Keep user logged in at checkout"
Based on this comment: https://github.com/bigcommerce/storefront-data-hooks/issues/11#issuecomment-784794465

After logging in (and revalidating the customer) - going to checkout (redirects to bigcommerce checkout page - e.g. same as what Vercel commerce is doing) the user is not logged in - it is displaying guest checkout and has the option for user to login there. I would expect that the BC chec

[2021-02-24 12:23] jorgemasta commented on #11
What are you seeing @magicspon ? 1 or 2?

[2021-02-24 12:25] jorgemasta commented on #11
I have created a new ticket for 1 (#36).
About 2, can you provide more info in a new ticket? @avisra

I close this ticket in favor of the new ones as a solution for the Login SSO will be included in the next release.

[2021-02-24 12:25] #11 closed

[2021-02-24 12:39] jorgemasta commented on #21
It will be included in the next release

[2021-02-24 12:39] #21 closed

[2021-02-24 12:40] jorgemasta commented on #9
It will be included in the next release

[2021-02-24 12:42] jorgemasta commented on #31
It will be included in the next release

[2021-02-24 12:42] #31 closed

[2021-02-24 12:42] avisra commented on #18
Hey all - I managed to track this issue down to a misunderstanding on my side. I saw this error if I had a error in the code. Specifically noticed it when trying to use some of the API operations client-side. If I moved them to server-side, it worked fine.

[2021-02-24 12:43] #9 closed

[2021-02-24 12:44] jorgemasta commented on #18
Cool! Thank you very much for letting us know 🙌

[2021-02-24 12:44] #18 closed

[2021-02-24 12:59] magicspon commented on #11
@jorgemasta 1 and 2.

A logged in user goes to the checkout and is logged out.
Also, seeing `SHOP_SESSION_TOKEN` rather than `SHOP_TOKEN `

[2021-02-24 14:29] ahmadsyed opened #37 "Customer Group wise discount not available"
I am using this, in a boilerplate with nextJs commerce. I am trying to show the original(strikethrough) and discounted price both on the product page based on the customer groups. This feature is working fine at the bigcommerce provided storefront but in vercel nextJs commerce storefront, I can only see one price. Am I missing anything here? Is this feature is not available? is there any way to ac

[2021-02-27 23:25] avisra opened #38 "Pagination"
Hello,

Similar to the Vercel Commerce demo - I am using the useSearch hook for my main product listing (keywords, category, sorting, etc). However - this appears to only return back 12 items - and contains no pagination data. For example, I'd like to know how many total items matched the query (even if only 12 came back) - and I'd like to provide a next/previous link which can return back the nex

[2021-02-27 23:44] avisra commented on #38
I've been reviewing this further, and I think I found something a bit.. strange.

First, the query itself appears to be happening in the getProducts method in bigcommerce/api/catalog/handlers/get-product.ts

Here it appears to execute a search query against the V3 (not graphql) APIs. These APIs return back the product data (and pagination info in the meta object, which is ignored here). And then y

[2021-03-02 11:43] jorgemasta commented on #37
in the current implementation you receive:
- `price`
- `salePrice`

If you set a sale in bigcommerce, you will have that value in `salePrice` and `price` since the price is the current price (with the sale applied).
In GraphQL we also have `basePrice` which is what you are probably looking for.

It's looks a very common request so we will include in next releases. Meanwhile you use your own query.

[2021-03-02 12:06] jorgemasta commented on #38
We use GraphQL as much as possible and allow us to unify the code and types. We are querying again the V3 API because we can't filter by categories with the GraphQL API (GraphQL's team is already taking this into account)

I like your suggestion of return the meta object and looks a good enhancement until we can do pagination with GraphQL 👍

[2021-03-02 14:11] ahmadsyed commented on #37
Hi, @jorgemasta
Thanks for the reply. It looks you are talking about the prices that we set at the product level like the below image.
<img width="957" alt="Screenshot 2021-03-02 at 7 31 19 PM" src="https://user-images.githubusercontent.com/10087027/109659824-1e5e4880-7b8e-11eb-9ec6-ee7578d46da5.png">

what I am doing is, I have created 2 customer groups(retail, wholesale), and assigned customers

[2021-03-02 19:00] dankore commented on #13
REMEMBER TO SAVE!
i
It worked for me after I finally remembered to save!

![image](https://user-images.githubusercontent.com/45286534/109700287-2ea70100-7b57-11eb-87d2-92792e182cec.png)

[2021-03-03 12:25] jorgemasta commented on #13
Added a troubleshooting section in the Readme with most common issues.

[2021-03-03 12:25] #13 closed

[2021-03-03 13:00] dy-byron commented on #13
@jorgemasta @Strapazzon just showing the first appearance of this solution.

[2021-03-04 05:29] avisra commented on #36
Hey all,

I actually managed to solve this myself. I'm not sure why Vercel hasn't done a similar thing with their demo store. And ideally, this workaround wouldn't be necessary (I would rather be able to authenticate the checkout without sharing cookies).

Instead of using the default BigCommerce store URL, I setup a url like checkout.mywebsite.com. And my headless shop is www.mywebsite.com. In my

[2021-03-04 06:04] ahmadsyed commented on #37
To fix it I have taken an approach, that's probably not the best approach but will do the trick. In search.tsx file,
`export async function getStaticProps({
  preview,
  locale,
}: GetStaticPropsContext) {
  const config = getConfig({ locale })
  const { pages } = await getAllPages({ config, preview })
  const { categories, brands } = await getSiteInfo({ config, preview })
//fetch all groups as no

[2021-03-04 11:33] jorgemasta commented on #36
That's very clever @avisra 👏
So, to confirm, this is your flow:
1. Customer login and add the items to the cart in your headless shop https://mywebsite.com
2. Customer press on "Proceed to checkout" and is redirected to https://checkout.mywebsite.com/checkout

I think this pattern is the only one that would work right now. The other alternative is the embedded checkout #6, although we would also h

[2021-03-05 14:49] ahmadsyed commented on #11
@magicspon, @jorgemasta, did anyone got it working. As of now when I am clicking at checkout from nextjs commerce store, it goes to BC store checkout as a guest user. I want that my customer don't have to login again there.

[2021-03-05 17:02] avisra commented on #11
I did, but it was a doozie.

I have two apps:
shop.mysite.com (BigCommerce)
www.mysite.com (my headless shop)

First, it is important that your headless shop create the shop_token/shop_session_token with the TLD mysite.com instead of www.mysite.com (otherwise the shop will not be able to use it).

Second - and this one is unfortunate - but BigCommerce has a weird quirk where it will attempt to cre

[2021-03-05 17:18] magicspon commented on #11
I'm having some issues using the updated useLogin hook:

[code]

if the wrong email/password is provided, an error is Thrown.
![image](https://user-images.githubusercontent.com/3268717/110149929-8901c500-7dd6-11eb-9b25-61429ca0ab83.png)

And the `api/auth/sso` endpoint is never called, even with the correct email/password

Any ideas

[2021-03-07 15:08] magicspon commented on #11
@avisra
are you using the new useLogin hook?

[2021-03-07 15:55] ahmadsyed commented on #11
@avisra,
It looks like
1- You are using your own auth while I am using build-in (That comes with nextJs boilerplate).
2- Then with the help of domain/subdomain settings, you are setting cookies on the parent domain & utilizing them on the child domain.

Did I get both points right? If yes, Then will it be possible to use your flow with bigcommerce built-in auth?
@magicspon which scenario you are u

[2021-03-07 19:19] magicspon commented on #11
I'm using my own auth provider (via craftcms).
I successfully managed to login the user with SSO, using my own hook. However, i'd rather use the hook provided with my own auth.

[2021-03-08 13:04] magicspon commented on #11
I believe there is an error in the docs:

this works:
[code]

[2021-03-08 14:52] magicspon commented on #11
I'm getting a `200` response status from calling my sso endpoint.
Then i'm immediately getting a 500 internal server error from the `/api/bigcommerce/customers` endpoint
![image](https://user-images.githubusercontent.com/3268717/110337432-d3c14e00-801d-11eb-86d2-52020ea4cd5c.png)

@jorgemasta I'm using your SSO example (modified slightly)

https://gist.github.com/magicspon/f3617e8d12db7cb46199283d

[2021-03-08 15:23] magicspon commented on #11
Sorted...
Created a new API Account.  now it's working as expected
@jorgemasta thanks for your work on this, greatly appreciated

[2021-03-09 08:27] jorgemasta commented on #36
Hey @avisra, I have been able to use the embedded checkout and share the cookie in this example: https://testenv.club/

Looks working properly but I don't know what you mean here https://github.com/bigcommerce/storefront-data-hooks/issues/11#issuecomment-791551322 by:

I have not been able to replicate that in my example.

[2021-03-10 11:34] aganglada opened #43 "Get Product Options Rules"
Hello team!
I wen't through the code and it doesn't seem to be a way to get Product Options rules.

The ones specified in each product here:

<img width="995" alt="Screenshot 2021-03-10 at 10 45 53" src="https://user-images.githubusercontent.com/922348/110623032-2ae92f00-8194-11eb-9794-850722ebcedf.png">

There is a way to get Product Options, which is already working from the playground:

![Scree

[2021-03-10 13:11] zeekrey opened #44 "This product has options, variant ID is required"
Hey there,

I'm using the `useAddItem()` hook like this:

[code]

The cart object looks like the following:

![image](https://user-images.githubusercontent.com/34539149/110634345-2465b200-81aa-11eb-820c-b18c514ef3cb.png)

But when I try to use the checkout endpoints like `https://api.bigcommerce.com/stores/wm5qmanqs7/v3/checkouts/${body.cartId}/` I receive the following answer:

[code]

[2021-03-10 15:19] jorgemasta commented on #44
I'm not sure if this a problem with this package since the cart creation looks ok.

Have you tried this in other env (postman, the api reference...)?

[2021-03-10 15:50] jorgemasta commented on #43
Hey @aganglada,

Nice catch, the GraphQL's team equipment has been reported. They will work on prioritizing it correctly.

I am closing this ticket as it isn't something that depends on this repo.

[2021-03-10 15:50] #43 closed

[2021-03-10 16:07] aganglada commented on #43
@jorgemasta could you confirm is not on the storefront api either? or is there a way to access it.

[2021-03-10 20:52] zeekrey commented on #44
Yep, sorry. You're right. There is an issue with the customFields during checkout creation (https://github.com/bigcommerce/dev-docs/issues/1013). Should have checked the API first. Sorry 🥰

[2021-03-10 20:52] #44 closed

[2021-03-17 17:32] #36 closed

[2021-03-18 10:29] zeekrey opened #47 "Missing Cart Types"
The Cart Type is missing the following type definition:

[code]

[2021-03-18 12:49] jorgemasta commented on #47
Yes, we have to review all the types.

We could use a tool such as https://transform.tools/json-schema-to-typescript to transform the JSON Schema to TypeScript.

E.g. https://developer.bigcommerce.com/api-reference/store-management/carts/cart/getacart the schema can be taken from the **Responses** section

[2021-03-18 19:50] zeekrey commented on #47
Do you accept PRs? Could find anything about contribution.

[2021-03-19 10:19] jorgemasta commented on #47
Yes, we're open to PRs! 🙌

Here you can a find a light contribution notes: https://github.com/bigcommerce/storefront-data-hooks/blob/master/CONTRIBUTING.md

I' m thinking of adding some notes on how to set up a local dev env, anything else you consider important?

[2021-03-19 21:59] #30 closed

[2021-03-23 09:15] pinktonio opened #48 "useAddItem uses next/router"
Because useAddItem depends on next/router it breaks compatibility with other frameworks such as gatsby.

[2021-03-23 15:12] dy-byron opened #49 "AddItem to a non-valid cart_id"
Somehow my cart_id got invalid. So every time I was trying to use the `useAddItem` hook, it gives me an error.
I couldn't do anything else until I clean up all the cookies.

To solve the problem on production, I did the following:
<img width="1223" alt="Screenshot 2021-03-23 at 15 59 27" src="https://user-images.githubusercontent.com/60141229/112167621-e24c5f80-8bf0-11eb-96dd-512cdd584413.png">
_/

[2021-03-23 16:28] jorgemasta commented on #49
@dy-byron  Can you share the error that you're getting? Is it a 404?

If so, the cart cookie should be removed when you try to get the cart.
https://github.com/bigcommerce/storefront-data-hooks/blob/262164c80953060d59cf58129962b507cfb2a63c/src/api/cart/handlers/get-cart.ts#L16-L22

Anyway, it's probably a good idea to add that logic in the `add-item` as well.

Thanks for creating the issue! 🙌

[2021-03-24 12:02] dy-byron commented on #49
@jorgemasta  When the `get-cart.ts` it's called, it does not throw an error nor 404. Instead goes to https://github.com/bigcommerce/storefront-data-hooks/blob/262164c80953060d59cf58129962b507cfb2a63c/src/api/cart/handlers/get-cart.ts#L26

So I got a cart with a `null` value with no errors. It's like Bigcommerce found the cart but with no data 🤷‍♂️

The error happens when I'm trying to add an item

[2021-03-24 13:08] magicspon commented on #36
@jorgemasta
I'm using the latest release, with the embedded checkout. (setup as per the docs)
The checkout is loading as expected, but the user is logged out. See video below.
I'm also using the new SSO login method.

https://user-images.githubusercontent.com/3268717/112315230-d7053c80-8ca1-11eb-9513-57cd6b781c00.mp4

[2021-03-24 13:29] jorgemasta commented on #36
Hey @magicspon ,
Since you're using SSO Login, you have to take care of setting the `SHOP_TOKEN` at TLD (Top Level Domain) so that the checkout (which loads in an iframe on a subdomain) can access the token.

I have updated the [SSO Login gist](https://gist.github.com/jorgemasta/c709b63501344970026f3a3e7646cc77#file-sso-login-ts-L48-L50).

Let me know if it's works 😉

[2021-03-24 13:44] magicspon commented on #36
Heyo... thanks for the quick response.
Alas, that's still not working

the cookie is now:
[code]

[2021-03-24 13:54] magicspon commented on #36
The only difference with my code is this:

[code]

[2021-03-24 14:13] magicspon commented on #36
the same thing happens when using the regular login hook without sso

[2021-03-24 14:48] magicspon commented on #36
oooh progress... i just removed all the cookies on the checkout url, and the main url.
logged back in...
![image](https://user-images.githubusercontent.com/3268717/112330556-0b7ff500-8cb0-11eb-8037-140f7837c789.png)

[2021-03-24 16:36] jorgemasta commented on #36
Cool, thanks for replying back!
Changing from one way of saving the cookie to another probably has intermediate states that are not covered.

[2021-03-28 04:52] RobyCigar opened #55 "An unexpected error ocurred with the Bigcommerce API"
I deployed my site on vercel then, I try to sign up on my site

then when i sign up it gives me this error
![image](https://user-images.githubusercontent.com/69680330/112742813-ff4fac80-8fbb-11eb-800c-3035e9c9a8de.png)

here's my site https://million-candles.vercel.app/

[2021-03-28 10:42] magicspon commented on #55
Probably due to the graph token expiring.

[2021-03-28 17:34] ahmadsyed commented on #55
Check if you have enabled store-front from the bigcommerce admin panel.

[2021-03-31 01:55] #55 closed

[2021-04-12 09:32] #38 closed

[2021-04-13 12:46] aganglada opened #59 "Get Recently viewed products"
Notice inside the Account Page, there is a section called "Recently Viewed" where recently viewed products show.

<img width="1023" alt="Screenshot 2021-04-13 at 14 44 30" src="https://user-images.githubusercontent.com/922348/114554458-a68c3f00-9c5e-11eb-89b2-eaf263d7ac20.png">

Is there a way to get those products from a `graphql` endpoint or other method? If so, maybe is a good fit for this pack

[2021-04-16 10:41] jorgemasta commented on #59
I have not found any way to get that data from the API (neither graphql nor rest) either.

Technically for a headless store it seems very complex since in order to obtain that data we first have to have communicated to the backend that we have visited those products. And **maybe** this should not be the responsibility of the BC API, but of another service.

I am closing this ticket until we have s

[2021-04-16 10:41] #59 closed

[2021-04-16 13:28] aganglada commented on #59
Thank you @jorgemasta!

[2021-04-23 14:07] avisra commented on #49
I've also run into this bug. I assume that BC carts expire or something - because it only happens after awhile. I'll customize my local copy of the data hooks. thanks yall - looking forward to a official fix :)

[2021-04-23 14:27] jorgemasta commented on #49
Yes, I have created a PR fixing this #60 .
I should be released next week

[2021-05-04 14:57] brendan-hall opened #64 "API Handler Operations are unuseable"
In the function returned by `createApiHandler` any operations passed in are overridden by the original handlers defined for that api route. This makes it impossible to override behaviour cleanly.

---

Example:

Set up the following for `/api/bigcommerce/cart`

[code]

Expected Outcome: Any requests for current cart state (`GET /api/bigcommerce/cart`) return a 500 with no data, or other failure st

[2021-05-10 10:52] zeekrey opened #65 "v1.3.0 is not published to npm"
I just tried to fetch v1.3.0 as released on Github. But NPM doesn't know about this version: https://www.npmjs.com/package/@bigcommerce/storefront-data-hooks?activeTab=versions

Did you forget to publish this version to NPM or is this on purpose?

[2021-05-10 11:59] jorgemasta commented on #65
Solved, thanks

[2021-05-10 11:59] #65 closed

[2021-05-19 11:14] jorgemasta opened #66 "Update the login handler."
@jorgemasta we might need to update the login handler.

The checkout session fails when...
1. User logs in
2. Goes to checkout
3. Back to site and logs out
4. Logs back in
5. Go to checkout
6. User is logged out

I've got a fix here:
https://gist.github.com/magicspon/93f42be4395702db8ec006e9cb6236b2

SHOP_SESSION_TOKEN and Shopper-perf are handled in the same way as `SHOP_TOKEN`

_Originally poste

[2021-05-19 11:15] jorgemasta commented on #66
hey @magicspon , hasn't this been solved in 1.3.1? or is it a different problem?

[2021-05-19 11:36] magicspon commented on #66
Yup, it's a different issue.  It only happens on subsequent visits to the checkout, after the user has logged out of the headless site. Moving `SHOP_SESSION_TOKEN` and `Shopper-perf` so that they are available on both domains solves the issue

[2021-05-19 11:44] magicspon commented on #66
https://user-images.githubusercontent.com/3268717/118807125-cf2bd800-b89f-11eb-81c1-c4455e2ef3f1.mp4

[2021-05-19 11:44] magicspon commented on #66
With the fix (in the gist)

https://user-images.githubusercontent.com/3268717/118807290-ff737680-b89f-11eb-8c63-0769728e90d2.mp4

[2021-05-24 10:16] jorgemasta commented on #66
Thanks very much for all the information! 🙌
We will try to fix it asap.

[2021-05-24 11:09] jorgemasta commented on #64
Hey @brendan-hall, thanks for creating the ticket and sorry for the delay.
Do you use this package with NextJS or with another framework?

We plan to make this package more agnostic in the near future, making it more extensible.

Any particular recommendation?

[2021-05-24 11:10] jorgemasta commented on #49
Released

[2021-05-24 11:10] #49 closed

[2021-05-24 11:15] jorgemasta commented on #48
Solved in [1.4.0](https://github.com/bigcommerce/storefront-data-hooks/releases/tag/v1.4.0)

[2021-05-24 11:15] #48 closed

[2021-05-24 12:00] jorgemasta commented on #37
Potentially resolved with version [v1.3.0](https://github.com/bigcommerce/storefront-data-hooks/releases/tag/v1.3.0).
Right now we return the `basePrice` and the `price` that is calculated by BigCommerce depending on the authenticated user (e.g. belongs to a discount group or not).

[2021-05-24 12:00] #37 closed

[2021-07-02 23:27] rahulguptacs1 opened #76 "get product - not receiving default variant option from api"
when variant option set to swatch we are receiving "isDefault" value properly
node: {label: "first", isDefault: true, hexColors: Array(1)}
but when using other options like rectangle or dropdown "isDefault" is not set
node: {label: "rahul"}

[2021-07-02 23:34] rahulguptacs1 opened #77 "getProduct - not receiving specific variant option type (only "MultipleChoiceOption")"
on backend we can set variant option type as rectangle, dropdown, swatch, radio
but  "__typename" property  is always set to "MultipleChoiceOption" and not the specific type we specified
how can we get it?

[2021-07-12 14:08] jorgemasta commented on #77
Hi @rahulguptacs1, here is where we're asking for product variants:
https://github.com/bigcommerce/storefront-data-hooks/blob/517a65789c4c8a09daa7add3068e010c79a179d0/src/api/fragments/product.ts#L66-L76

As you see, you should receive an array of the variants with the `entityId` and the `defaultImage` of each one.

Can you write what you are receiving?

[2021-07-12 14:12] jorgemasta commented on #76
Where are you setting variant option to swatch? 🤔
Can you write the request and response in each case?

[2021-07-12 14:13] jorgemasta commented on #66
Solved in #72

[2021-07-12 14:13] #66 closed

[2021-07-12 14:13] jorgemasta commented on #64
Solved in #67

[2021-07-12 14:13] #64 closed

[2021-07-12 14:15] jorgemasta commented on #14
There are a couple of options for resetting a user’s password:

1.)  https://developer.bigcommerce.com/api-reference/store-management/customers-v3/customers/customersput  `force_password_reset` set to `true` will trigger an email to be sent to the customer to reset their password

2.) You can post to https://store-<store_hash>-<channel_id>.mybigcommerce.com/login.php?action=send_password_email for

[2021-07-12 14:17] jorgemasta commented on #47
Solved in #29

[2021-07-12 14:17] #47 closed

[2021-07-16 06:36] vaclav-zeman opened #80 "Order from `useOrders` missing some data - salePrice, product image"
The title says it all, the `order` does not have all the required data like price after discount or default product image
cc @jorgemasta

[2021-07-23 09:09] jorgemasta commented on #34
After enabling the Persistent Cart in the BigCommerce dashboard, I have done a little experiment:

1. Login with a user, add some products the cart
2. Login with the same user in a incognito tab
3. 😩  The cart is empty

**Why?** Because when a user creates a cart, the Cart ID is stored in the cookies. So when logging in on another device, we need that ID, which we have no way of knowing.

A potenc

[2021-07-23 09:09] #34 closed

[2021-07-23 09:17] jorgemasta commented on #77
I have come to understand what you mean. And you are right, there is no way to differentiate between the different types. It's a behaviour that is inherited from the API and that this package cannot change, so I'm closing this issue.

[2021-07-23 09:17] #77 closed

[2021-07-23 09:22] jorgemasta commented on #76
Now I understand what you mean. It's something we can easily fix, we have to add `isRequired` after `displayName`.
In this way it is accessible to all variants.

https://github.com/bigcommerce/storefront-data-hooks/blob/517a65789c4c8a09daa7add3068e010c79a179d0/src/api/fragments/product.ts#L78-L86

Thanks for opening this issue @rahulguptacs1! It will be fixed soon

[2021-08-03 11:37] zanatoshi opened #84 "Add the customer id to the cart"
Hi guys,
thank you for this easy to use hooks.

When the addItem hook create the cart, it would be nice to add the customer id if the user is connected.

I guess we could just get the customer_id in the useAddItem hook then use it as a param to the api call.

Let me know if this is something you may want to change.

[2021-08-05 10:44] jorgemasta commented on #84
Good idea. Necessary steps:

1. Get (if exists) the the `customerToken`
[code]
2. Add the `customerToken` to the `body` sent to handlers
[code]
3. Get the `customerId` from the `customerToken`
[code]
4. Add (if exists) the `customerId` to the request body

[2021-08-14 11:08] yamankatby opened #87 "The package should use pure React"
I suggest using pure React in the package so I can use it in any React (CRA, NEXT, React Native, Gatsby) project.

For example
- Use props instead of environment variables
- Don't use js-cookie because it doesn't work on React Native

[2021-08-18 23:10] andrewf414 commented on #14
FYI options 1 doesn't seem to be quite enough to trigger the email, you have to attempt login. So I just did that and then did the useLogin hook with a phony password to trigger the email. The problem now is the email is something we have no control over and the link is to /login.php?action=change_password&c=<customerId>&t=<someToken>. So not sure how that gels with a headless app...

[2021-09-06 09:10] andrewf414 opened #88 "OptionSelections for cart ItemBody (e.g. in useAddItem) is an object but should be array of objects"
[Line 21 of /api/cart/index.ts ](https://github.com/bigcommerce/storefront-data-hooks/blob/master/src/api/cart/index.ts) should be an array. This is per the [BigCommerce documentation](https://developer.bigcommerce.com/api-reference/store-management/carts/cart-items/addcartlineitem).

[2021-09-06 11:46] rodeyseijkens opened #89 "useCart is not updating after removing or updating the"
When using the `useCart` hook and then updating an item with for example the `useRemoveItem`, it doesn't update the data in the useCart, I can see the trigger being done towards the cart API endpoint but it is not updating the `data` inside of the `useCart`.

Same for the `useUpdateItem`.

I even tried it with an `revalidate()` or `mutate()` but both don't work.

[code]

I do see a [console.log fr

[2021-09-12 05:10] kogan007 commented on #59
@jorgemasta @aganglada

I did this on my project using localstorage and useeffect (NextJS).
Just push every product you visit into the storage and filter out the product you're currently looking at from that list.

[2021-09-13 00:46] kogan007 commented on #14
You can try syncing bigcommerce login with something like firebase and then if someone successfuly resets their password with firebase use the bigcommerce api to change the password.

[2021-09-13 03:24] kogan007 opened #90 "Login not working again"
Hi it looks like the login cookie was made with the expectation that the header would return SHOP_TOKEN as well as shopper pref however I am only getting SHOP_TOKEN back from bigcommerce on login

[2021-09-13 16:06] jorgemasta commented on #88
Thanks @andrewf414, we'll work on that

[2021-09-13 16:20] jorgemasta commented on #89
Interesting, it's working on my local.

Are you using https://github.com/vercel/swr in your project?

[2021-09-13 16:28] jorgemasta commented on #14
Yes, thats seems to be a good workaround as BC doesn't support password reset through its API at the moment and this package support [SSO Login](https://github.com/bigcommerce/storefront-data-hooks/tree/28634a38dd08756e234d5609b695d73653cd7ddb#login-sso).

I am closing this ticket until further news from the BC API.

[2021-09-13 16:28] #14 closed

[2021-09-13 16:38] jorgemasta commented on #90
Hi @kogan007 , in theory with the `SHOP_TOKEN` is enough. What error do you have?

About of the expectation to receive `SHOP_SESSION_TOKEN` and `Shopper-perf` you're right, we're receiving `null` instead of the actual value.
![Screenshot 2021-09-13 at 17 35 56](https://user-images.githubusercontent.com/28598593/133122765-15fc5a8e-c7ae-409c-80ff-c54b34b35927.png)

We need to double check the `getLo

[2021-09-13 16:53] kogan007 commented on #90
I'm not getting any errors but when a customer goes to checkout they are not logged in

[2021-09-13 17:00] jorgemasta commented on #90
Ok, thanks for the info! I will take a look ASAP.

[2021-09-15 21:51] andrewf414 commented on #89
I am having a problem with this too. In my case, I am adding coupons to the cart, which isn't available via this package. So I am doing a POST request for it, and a DELETE to remove coupons. These methods both work, I can see in the result of them that the cart gets a coupon added to its coupons array, or goes back to an empty array, but neither of these events are triggering the cart to update.
T

[2021-09-16 09:42] jorgemasta commented on #89
@andrewf414 What version of SWR? Can you run `yarn why swr` (or npm equivalent) in your console and paste it here?

This project is using SWR `v0` but SWR has introduced some breaking changes in `v1` which may be the reason of these errors.

[2021-09-16 22:27] andrewf414 commented on #89
@jorgemasta I don't think there is an npm equivalent of that...but I can tell you that in my package.json I have swr set at "^0.3.11", which has translated to 0.3.11 in my package-lock.json. So it is v0 still. I had installed swr separate to this package already.
I just tried going to v 0.3.6 specifically, as well as taking react from v17 to v16 (as that had been a relatively recent change for me)

[2021-09-30 12:41] jorgemasta commented on #80
This won't be implemented for now due to the design of the BC API. We will wait for a release of the Orders API v3 or other solution.

[2021-09-30 12:41] #80 closed

[2021-09-30 12:42] jorgemasta commented on #76
It will be released in `1.6.0`

[2021-09-30 12:42] #76 closed

[2021-09-30 12:42] jorgemasta commented on #84
It will be released in `1.6.0`

[2021-09-30 12:42] #84 closed

[2021-10-01 10:42] jorgemasta commented on #89
I have tested with different versions of this package and swr, and found no problems.

The problem probably comes from the fact that you're using `useCart` with options. for that hook to be updated you must use the mutation hook (e.g. `useUpdateItem`) with the same options.

[code]

Unfortunately this is not ready to work in this version but will be added soon in the next version.

[2021-10-03 20:42] andrewf414 commented on #89
ahhh ok that makes sense, and that is my use case. Thanks Jorge

[2021-10-04 09:26] Tormand opened #98 "BigcommerceNetworkError: Fetch to Bigcommerce failed: The "name" argument must be of type string. Received null"
When using
[code]
I get this error:
[code]
My ``pages\api\bigcommerce\cart.ts`` looks like this:
[code]
Example of my .env variables:
[code]

[2021-10-04 11:28] jorgemasta commented on #90
A workaround to avoid receiving null has been implemented and will be included in the next release.

However, it looks that the BC API has stopped sending `SHOP_SESSION_TOKEN` and `Shopper-perf` in the login mutation so we cannot set it in the client.

[2021-10-04 11:31] jorgemasta commented on #87
It's certainly something to think about and we will keep in mind for version 2 of this package.
Thank you very much for the idea!

[2021-10-04 14:57] jorgemasta commented on #98
Hi @Tormand, thanks for opening the issue.

Can you send the Request Payload? (Dev Tools -> Network -> Cart Request -> Request Payload)

Looks like you're sending the product name but that's strange 🤔

[2021-10-05 06:35] Tormand commented on #98
Hi @jorgemasta
My payload looks like this:
[code]

In \node_modules\@bigcommerce\storefront-data-hooks\api\utils\fetch-store-api (__awaiter function), it dosen't contain any arguments. Shouldn't it contain the payload?
![image](https://user-images.githubusercontent.com/66734403/135971755-28351ab1-2e14-4423-bf16-53e2f145e244.png)

``thisArg`` contains the correct values(as far as I can see):
[code]

[2021-10-05 07:02] Tormand commented on #98
I can see in ``fetchStoreApi`` it sends the correct body in ``options:
[code]
``endpoint`` has the value ``"/v3/carts"``

![image](https://user-images.githubusercontent.com/66734403/135975475-4ae49f50-13b3-4396-ab98-a46b1e395d65.png)

[2021-10-05 08:12] Tormand commented on #98
I tried setting up https://github.com/vercel/commerce with the same .env variabels, and I get same error. Now I have a feeling my BIGCOMMERCE_STOREFRONT_API_TOKEN might not be correctly created.

I created my token from https://developer.bigcommerce.com/api-reference/store-management/tokens/api-token/createtoken with
[code]

[2021-10-05 09:54] jorgemasta commented on #98
Yeah... it's strange.

We have [this gist](https://gist.github.com/jorgemasta/041fb3f87c1d754439032d508ca83353) to add `BIGCOMMERCE_STOREFRONT_API_TOKEN` to `.env`.

I hope you find it useful.

[2021-10-13 08:40] Tormand commented on #98
Hey @jorgemasta
I found the issue was in my .env.
The ``BIGCOMMERCE_STORE_API_URL`` was missing the whole url(https://api.bigcommerce.com/stores/{{store-hash}}/), I just inserted the store hash.

[2021-10-13 08:40] #98 closed

[2021-10-13 16:32] bookernath opened #101 "Improve login flow & state management for headless implementations which run server-to-server calls."
Today this repo uses a ["cookie proxying"](https://github.com/bigcommerce/storefront-data-hooks/blob/master/src/api/operations/login.ts#L56-L63) method for managing customer login state, which is not how the GraphQL Storefront API was intended to be used, and is causing a number of problems.

The GraphQL Storefront API has [2 different types of authentication](https://developer.bigcommerce.com/api

[2021-10-13 19:17] bookernath commented on #101
https://developer.bigcommerce.com/api-reference/store-management/tokens/customer-impersonation-token/createtokenwithcustomerimpersonation

[2021-10-16 08:31] heylols opened #103 "includeProducts in useWishlist() throwing error"
By default the useWishlist() hook seem to be returning only the product ids of the wishlisted items. I checked the code: https://github.com/bigcommerce/storefront-data-hooks/blob/cc5ce62b760fde8f0402b627feaeb43ba88acaff/src/wishlist/use-wishlist.tsx#L15

So tried passing the `includeProducts` as parameter like this:

[code]

But it is throwing error message.

**Error Message:**

[code]

Btw, I upg

[2021-10-19 13:32] #103 closed

[2021-10-19 17:25] maxmezzomo opened #104 "Variant type include purchasable flag"
Variant type is currently defined as

[code]

The product section on dashboard allows setting variants to purchasable or not. would be a nice small addition to include that in the Storefront API response and in these hooks. In the meantime setting the inventory to 0 works but its not the same.

It's not clear to me what the relationship between the storefront API and the management API is. Looking

[2021-10-21 08:52] heylols opened #106 "Customize fields returned when using includeProducts in useWishlist() + update readme"
This is a follow up issue for [my previous one](https://github.com/bigcommerce/storefront-data-hooks/issues/103). Sorry if this is not supposed to be created as a separate issue.

Let me explain the scenario. Am using the code like this:
`const { data: BC_wishlist_data } = useWishlist({includeProducts : true })`

It seems to be returning the products with some fields of each Product. But I would l

[2021-10-21 10:57] maxmezzomo commented on #104
Alright nice, I guess they only have it through the management, hopefully they add it to the GraphQL one.

[2021-10-21 10:57] #104 closed

[2021-10-25 17:16] kogan007 opened #107 "[Suggestion] usePersistedCart"
This is a suggestion for a future release

POST /customers/attributes
with a new field for a customer cart.

PUT /customers/attributes
on cart creation with the cart ID (and date created?)

On login, have the result return the old cart id from the customer object.
Create a usePersistedCartHook that when submitted with a valid cart id replaces the current cart cookie with the new one.

OR a useMerg

[2021-10-26 11:13] heylols opened #108 "includeProducts in useWishlist() - not updating the data items after add/remove"
Previously I opened the ticket where the Wishlist does not contain the products : https://github.com/bigcommerce/storefront-data-hooks/issues/103

Right now, the issue is if I add or remove items in the wishlist, the items returned are not updating.

Eg:
[code]

But if I do not include the `includeProducts` parameter, the items are updating.

Eg:

[code]

[2021-11-02 14:37] jorgemasta commented on #108
Hey @heylols ,

this is similar to #89. We're using `swr` under the hook and `useWishlist({includeProducts : true })` uses a different key than `useWishlist()`.

When you use `useAddItem()` you're using the key used in `useWishlist()`.
You have to use `useAddItem({includeProducts : true })` to update `useWishlist({includeProducts : true })`

[2021-11-02 14:40] jorgemasta commented on #107
This is a good addition for v2. Thanks @kogan007 !!

[2021-11-02 22:54] andrewf414 opened #109 "Incorrect validation of addresses"
In src/address/use-add-address.tsx the validation checks that there is state_or_province  and postal_code, yet neither of these are required within BC. So I am hitting an issue of adding an address, that does not have a state, and it is erroring.

[2021-11-07 21:00] andrewf414 opened #110 "Can the actual errors please be passed back to client?"
Hi, I imagine this happens elsewhere, but I am looking at signup giving a generic "something went wrong" type error. Could it pass back the actual error to be more useful? e.g. "email xxxx already in use"?
https://github.com/bigcommerce/storefront-data-hooks/blob/bf5d80224e4ae44413f6538b4855f88775e47494/src/api/customers/signup.ts

[2021-11-12 15:50] amckemie commented on #101
@bookernath As I'm looking at this and we were discussing in a sync with ModernTribe, I realized I'm not sure whether this is backwards compatible. When I look at the suggested solution, particularly "Generate a Customer Impersonation token which should be stored in the headless app's environment, securely (it is sensitive, unlike normal GQL tokens)" ... this makes it seem like it **will** not be

[2021-11-15 12:06] jorgemasta commented on #101
From my point of view, it certainly introduces breaking changes. That is why it should be included in a future v2 that should be properly defined.

[2021-11-15 22:45] amckemie commented on #101
@jorgemasta Does it absolutely need to be a v2 or could we do it via a GTM? Something like such:

- Add new function / method with the better login functionality and call it something different (so we can make this available ASAP, which is desired due to shopper issues on storefronts and developer feedback / requests)
- Add "sunset" label / code comment to the existing function and make a note in

[2021-11-17 12:43] jorgemasta commented on #101
Yes, that's a great idea @amckemie.

My fear is to make it somewhat confusing for other developers, but the need outweighs that fear in this case.

[2021-11-17 12:46] jorgemasta commented on #110
Yes, it's something we contemplate, I think in those cases like login it would be quite useful.

I close as it is a duplicate of #23

[2021-11-17 12:46] #110 closed

[2021-11-17 12:50] jorgemasta commented on #109
Hey @andrewf414, based on the BigCommerce documentation that fields are required when you create a new address.

https://developer.bigcommerce.com/api-reference/store-management/customers-v3/customer-addresses/customersaddressespost

[2021-11-18 10:34] heylols commented on #108
Thanks mate!

[2021-11-18 10:34] #108 closed

[2021-12-09 20:18] yuenvision commented on #101
For the purposes of dev docs, when this is completed, we'll need to know the name of the subset function and the new function. Also will need to update the Readme with the info

[2021-12-14 22:27] andrewf414 opened #111 "Incorrect definition of Gift_Certificate"
In src/api/cart/index.ts Gift_Certificate should have key of "recipient" not "receipt".

[2022-01-05 09:49] heylols opened #113 "Cart and Checkout - Summary"
Am using the Storefront Data Hooks for the Cart and Wishlist functionality. And in the Cart and Checkout pages, am displaying the summary (Order Total, Shipping Amount, Tax amount) etc. from the Cart hook itself. But am updating the Shipping address and Billing address directly by calling Bigcommerce's API. So the tax amount (in Cart hook) seems to be not getting updated because of this.

What wou

[2022-01-12 14:58] jivewise commented on #113
@heylols Do you mind letting us know which endpoint you're hitting for shipping address and billing address?

[2022-01-28 16:22] mattdjenkinson opened #117 "Cart not emptying on checkout completion"
Hey, just wondering if anyone else has run into this issue I'm having or if anyone can help.

I'm using the embedded checkout and once a checkout is complete the cart doesn't empty unless you do a full page refresh.

I'm using the "useCart" hook to display cart info.

Thanks

[2022-01-28 16:39] mattdjenkinson commented on #117
### Update

I've used the "onComplete" option from the embedded checkout to revalidate the cart which is working. Is this how it's supposed to be used?

Thanks

[2022-02-02 16:49] jorgemasta commented on #117
Hey @mattdjenkinson, where are you setting that `onComplete` option?

[2022-02-02 19:58] mattdjenkinson commented on #117
Hey Joe,

I'm setting it when calling the embedded checkout.

` await module.embedCheckout({

          containerId: "checkout",

          url: embedded_checkout_url,

          styles: styles,

          onSignOut: () => logout(),

          onComplete: () => revalidate(),
        });`

[2022-02-17 18:43] mattdjenkinson commented on #37
Hey, I’m finding that the price sent back via graphql is never including the customer discount even when making the call with a logged in session. Does anything else need to be passed with the call to make sure BC sends back the correct price?

The correct customer discount price shows in the cart and check out. Just not on the product page.

[2022-03-03 22:43] CrewHack commented on #13
Pretty sure this is a non-issue. The Next.js commerce app sign in doesn't work right out of the box until you complete BigCommerce activation checks in your dashboard. Then click the "Launch" button that appears after completing all the checks. Sign up works fine after that.

[2022-04-18 22:49] leffot opened #122 "Uncatchable error from useUpdateItem"
**Using**
- Next.js v12.1.5
- React v18.0.0
- storefront-data-hooks v1.7.0

**Issue**
When a user tries to increment a product’s inventory beyond the maximum available, an error is thrown: `Uncaught (in promise) Error: An unexpected error ocurred with the Bigcommerce API`.

Of course, we expect an error to be returned in this instance, since the user should not be able to add more inventory to the

[2022-04-19 12:51] jorgemasta commented on #122
Thanks for the detailed issue @leffot! 🙌

I have debugged this and looks like it's related to this debounce
https://github.com/bigcommerce/storefront-data-hooks/blob/abbe17a37d36e57ad1183d230d04ebbbb6dfefa0/src/cart/use-update-item.tsx#L54

### What's happening?
1. A product has a stock limit
2. If the stock is exceeded when using the `useUpdateItem`, it will fail
3. Because we have that debounce,

[2022-04-19 15:32] leffot commented on #122
Thanks for the quick reply @jorgemasta! That makes sense. I appreciate you looking into it.

[2022-05-02 16:09] jorgemasta commented on #122
The latest beta release includes this fix. You can try it running `yarn add @bigcommerce/storefront-data-hooks@beta`.

Closing because it will be included in the next release.

[2022-05-13 22:50] leffot commented on #122
Thanks @jorgemasta. Works like a charm!

[2022-05-24 05:42] pfcodes commented on #101
+1 for this

[2022-06-24 23:52] rekhaagarwal60 commented on #101
Will we be able to get customer cart using this impersonation token with customer-Id header ?

[2022-08-03 06:32] arjanc commented on #43
Hi,
This 'feature' still isn't exposed in the GraphQL endpoint.
I hope it will be in the near future. Now I am forced to use the REST API.

For the people still looking for a solution...you will find a parameter value called 'adjusters' from this endpoint.
https://developer.bigcommerce.com/api-reference/c799ca0742d1b-get-all-product-modifiers

[2022-08-25 01:18] omerfe opened #130 "Vercel Commerce GetAddressesHook fetcherInput difference"
Hi I'm using vercel's commerce and BC as a provider, having problems with getting the customer addresses via useAddresses hook atm. In vercel's version fetcherInput was cartId (but optional), but in here it is customerId. And in the API docs v3 doesn't require neither of them, but v2 requires customerId. So I'm kinda confused on which to use...
Here is the vercel's GetAddressesHook at address.ts:

[2022-09-15 07:55] 29hsaeed commented on #13
Solution for anyone struggling with getting the next.js demo work out of the box:

1. After vercel deployment if your sign-up/sign-in isn't working:
- make sure your bigcommerce storefront status is active  (you can find it in the Channel Manager section)
2. If your checkout page isn't working
- you need to add the following Environment Variables for production in your vercel project's Setting -->

[2022-10-16 21:49] 610 opened #131 "useCustomer and other hooks return undefined even though api returns data"
I'm having a problem using storefront hooks. After successful SSO login and having all the api endpoints on NextJS application for BigCommerce in place, the hooks return `undefined` result on the first page load, even though if I look into the Network tab of the browser, I can see SWR does successful requests to `/api/bigcommerce/customers` and this endpoint returns logged in user data.

Whats int

[2022-10-17 00:58] 610 commented on #131
This has nothing to do with `storefront-data-hooks`, that appears to be the same behavior for all `useSWR` hooks I have. Closing this issue.

[2022-10-17 01:28] 610 commented on #131
Nope, wrong again :)
My other `useSWR` hooks work in all components. Custom implemented `useCustomer` also works. But whenever I try to use `useCustomer` from `storefront-data-hooks` - it always returns `undefined`.....

[2022-10-17 13:36] 610 commented on #131
I noticed that `swr` in `storefront-data-hooks` is very outdated - `0.3.6`, which has been released more than 2 years ago.
The same applies to the https://github.com/storyblok/nextjs-bigcommerce-starter template, which is using the older swr and nextjs 10. Could it be because of version incompatibility? I'm using the latest next and swr in my project.

[2022-10-18 01:08] kevalbaxi opened #132 "Sale Price / Discount"
We are adding a product that is on sale via the useAddItem.

Then go to hosted cart on BC and use a promo code that is to be invalid for "sale items" it still works.

I think the data-hooks are not capturing if the product is on sale.

If the same SKU is added to the cart via stencil based storefront, the coupon is not working, which would mean its something to do with headless additem / cart setu